body {
  margin: 0;
  font-family: Merriweather;
}

/* global styles */

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

@media all and (min-width: 992px) {
  .container {
    padding: 0 100px;
  }
}

.button-nav {
  cursor: pointer;
  border-radius: 4px;
  padding: 12px 20px;
  font-weight: 700;
  background-color: #fff;
  color: #134f50;
}

.button-nav:hover {
  background-color: #33c18c;
  color: #fff;
}

.button {
  cursor: pointer;
  display: inline-block;
  width: fit-content;
  border-radius: 4px;
  padding: 12px 20px;
  font-weight: 700;
  background-color: #134f50;
  color: #fff;
}

.button:hover {
  background-color: #33c18c;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

h2 {
  font-size: 26px;
  margin-top: 10px;
}

h3 {
  font-size: 35px;
  color: #032145;
  margin-bottom: 30px;
}

h4 {
  font-size: 25px;
  color: #032145;
  margin-bottom: 30px;
}

h5 {
  font-size: 20px;
  margin: 0;
}

p {
  line-height: 24px;
  font-size: 18px;
  font-family: Merriweather-sans;
  font-weight: 300;
}

/* header */

header {
  background-color: #134f50;
}

header img {
  padding: 20px 0;
  width: 140px;
  height: auto;
  cursor: pointer;
}

.header-nav {
  display: flex;
  align-items: center;
}

nav {
  margin-left: 30px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

nav ul {
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

nav li {
  color: #fff;
  padding: 0 15px;
  font-size: 16px;
  cursor: pointer;
}

/* Hero */

.hero-section {
  background-image: url("images/Rai_0.jpg");
  background-size: cover;
  padding: 150px 0;
}

.hero-callout {
  width: 500px;
  background-color: #134f50;
  color: #fff;
  padding: 50px;
  border-radius: 4px;
}

.hero-callout h1 {
  margin: 0;
}

.hero-callout .button-nav {
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
}

/* Cards */

.digital-academy {
  padding-top: 64px;
  padding-bottom: 64px;
}

.digital-academy h3 {
  margin-top: 0;
}

.cards-component {
  display: flex;
  gap: 30px;
}

.card {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  width: 33%;
  border: 2px solid #134f50;
  background-color: #f4f6f7;
}

.card .image img {
  width: 100%;
}

.card .title {
  padding: 24px 0 8px;
  font-size: 20px;
}

.card .title p {
  margin: 0;
}

.card-button {
  margin-top: 20px;
}

.card-body {
  padding: 24px;
}

/* search */

.search {
  display: flex;
  font-size: 1.06rem;
  line-height: 1.5;
  position: relative;
  margin: 80px 0 40px;
  justify-content: center;
}

.input {
  font-size: 1.06rem;
  height: 3rem;
  appearance: none;
  max-width: 30rem;
  padding: .5rem;
  width: 100%;
  border-width: 1px;
  border-color: #5c5c5c;
  border-style: solid;
  border-radius: 0;
  color: #1b1b1b;
  display: block;
}

.search-button {
  padding: 0 24px;
  font-family: Merriweather;
  font-size: 1.06rem;
  color: #fff;
  background-color: #33c18c;
  appearance: none;
  align-items: center;
  border: 0;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  display: inline-flex;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  position: relative;
  right: 6px;
}

/* Video categories */
.video-categories-section {
  background-color: #134f50;
  padding: 64px 0;
  margin-top: 65px;
}

.video-categories-section h4 {
  color: #fff;
  margin-bottom: 60px;
  margin-top: 0;
}

.video-categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
}

@media all and (max-width: 992px) {
  .video-categories {
    grid-template-columns: repeat(3, 1fr);
  }
}

.video-categories svg {
  width: 60px;
  fill: #134f50;
}

.video-categories .category {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.video-categories .category:hover svg {
  fill: #33c18c;
} 

.video-categories .category:hover p {
  text-decoration: underline;
}

.video-categories .category:hover .dm2-icon {
  text-decoration: none;
  color: #33c18c;
  
}

.icon {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.dm2-icon {
  font-size: 43px;
  color: #134f50;
  display: flex;
  align-items: center;
}

/* Text - image */

.text-image {
  padding-top: 65px;
  padding-bottom: 65px;
}

.text-image h4 {
  margin-top: 0;
}

.text-image-body {
  display: flex;
  gap: 30px;
}

/* Fonts */

@font-face {
  font-family: Merriweather;
  src: url(fonts/Merriweather-Regular.ttf);
}

@font-face {
  font-family: Merriweather-sans;
  src: url(fonts/MerriweatherSans-VariableFont_wght.ttf);
}


