body {
  margin: 0;
  font-family: Merriweather;
}

/* global styles */

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

@media all and (min-width: 992px) {
  .container {
    padding: 0 100px;
  }
}

.button-nav {
  cursor: pointer;
  border-radius: 4px;
  padding: 12px 20px;
  font-weight: 700;
  background-color: #fff;
  color: #134f50;
  text-decoration: none;
}

.button-nav:hover {
  background-color: #33c18c;
  color: #fff;
  text-decoration: none;
}

.button {
  cursor: pointer;
  display: inline-block;
  width: fit-content;
  border-radius: 4px;
  padding: 12px 20px;
  font-weight: 700;
  background-color: #134f50;
  color: #fff;
}

.button:hover {
  background-color: #33c18c;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 35px;
  }
}

h2 {
  font-size: 26px;
  margin-top: 10px;
}

@media all and (max-width: 768px) {
  h2 {
    font-size: 20px;
  }
}

h3 {
  font-size: 35px;
  color: #032145;
  margin-bottom: 30px;
}

@media all and (max-width: 768px) {
  h3 {
    font-size: 30px;
  }
}

h4 {
  font-size: 25px;
  color: #032145;
  margin-bottom: 30px;
}

@media all and (max-width: 768px) {
  h4 {
    font-size: 20px;
  }
}

h5 {
  font-size: 20px;
  margin: 0;
}

@media all and (max-width: 768px) {
  h5 {
    font-size: 18px;
  }
}

p {
  line-height: 24px;
  font-size: 18px;
  font-family: Merriweather-sans;
  font-weight: 300;
}

p.large {
  font-size: 20px;
  font-family: Merriweather;
}

p.small {
  font-size: 16px;
  font-weight: 300;
  margin: 5px 0;
}

ul li {
  font-family:  Merriweather-sans;
  font-weight: 300;
  font-size: 18px;
}

/* header */

header {
  background-color: #134f50;
}

header img {
  padding: 20px 0;
  width: 140px;
  height: auto;
  cursor: pointer;
}

.header-nav {
  display: flex;
  align-items: center;
}

@media all and (max-width: 991px) {
  .header-nav {
    justify-content: space-between;
  }
}

.desktop-nav {
  margin-left: 30px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media all and (max-width: 991px) {
  .desktop-nav {
    display: none;
  }
}

.desktop-nav ul {
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.desktop-nav li {
  color: #fff !important;
  padding: 0 15px;
  font-size: 16px;
  cursor: pointer;
}

.desktop-nav a {
  text-decoration: none;
}

.desktop-nav li a:visited {
  color: #fff;
}

.desktop-nav li a:hover {
  text-decoration: underline;
}

/* Mobile menu */
@media all and (min-width: 992px) {
  .mobile-menu {
    display: none;
  }
}


.show-menu {
  width: 32px;
  height: 22px;
  display: flex;
  left: auto;
  cursor: pointer;
  align-items: center;
  position: relative;
  justify-content: center;
}

.show-menu span, .show-menu:before, .show-menu:after {
  width: 100%;
  height: 4px;
  background: #fff;
  border-radius: 3px;
}

.show-menu:before, .show-menu:after {
  content: "";
  left: 0;
  position: absolute;
  transition: all 0.3s ease;
}

.show-menu:before {
  top: 0;
}

.show-menu:after {
  top: 18px;
}

.menu-toggler {
  left: 10px;
  top: 10px;
  opacity: 0;
  position: absolute;
}

.menu-toggler:checked + .show-menu span {
  background: transparent;
}

.menu-toggler:checked + .show-menu:after {
  top: 9px;
  transform: rotate(45deg);
}

.menu-toggler:checked + .show-menu:before {
  top: 9px;
  transform: rotate(-45deg);
}

.mobile-nav {
  display: none;
  position: absolute;
  left: 0;
  top: 94px;
  width: 100%;
  background-color: #134f50;
  box-shadow: 2px 4px 6px 0 rgb(41 45 50 / 66%);
  z-index: 2;
}

.menu-toggler:checked ~ .mobile-nav {
  display: block;
  transform: translateX(0);
  opacity: .9;
}

.mobile-nav .nav__menu {
  list-style: none;
}

.mobile-nav .nav__item {
  padding: 10px 0;
}

.mobile-nav .nav__item a {
  color: #fff;
  text-decoration: none;
}

.mobile-nav .nav__item a:hover {
  text-decoration: underline;
}

/* Hero */

.hero-section {
  background-image: url("images/Rai_0.jpg");
  background-size: cover;
  padding: 150px 0;
}

@media all and (max-width: 768px) {
  .hero-section {
    background-position: center;
  }
}

.hero-callout {
  max-width: 500px;
  background-color: #032145cf;
  color: #fff;
  padding: 50px;
  border-radius: 4px;
      box-shadow: 2px 4px 6px 0 rgb(41 45 50 / 66%);
}

@media all and (max-width: 768px) {
  .hero-callout {
    padding: 30px;
  }
}

.hero-callout h1 {
  margin: 0;
}

.hero-callout .button-nav {
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
}

/* Cards */

.digital-academy {
  padding-top: 64px;
  padding-bottom: 64px;
}

.digital-academy h3 {
  margin-top: 0;
}

.cards-component {
  display: flex;
  gap: 30px;
}

@media all and (max-width: 768px) {
  .cards-component {
    flex-direction: column;
  }
}

.card {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  width: 33%;
  border: 2px solid #134f50;
  background-color: #f4f6f7;
}

@media all and (max-width: 768px) {
  .card {
    width: 100%;
  }
}

.card .image img {
  width: 100%;
}

.card .title {
  padding: 24px 0 8px;
  font-size: 20px;
}

.card .title p {
  margin: 0;
}

.card-button {
  margin-top: 20px;
}

.card-body {
  padding: 24px;
}

@media all and (max-width: 768px) {
  .card-body {
    padding: 15px;
  }
}

/* search */

.search {
  display: flex;
  font-size: 1.06rem;
  line-height: 1.5;
  position: relative;
  margin: 80px 0 40px;
  justify-content: center;
}

.input {
  font-size: 1.06rem;
  height: 3rem;
  appearance: none;
  max-width: 30rem;
  padding: .5rem;
  width: 100%;
  border-width: 1px;
  border-color: #5c5c5c;
  border-style: solid;
  border-radius: 0;
  color: #1b1b1b;
  display: block;
}

.search-button {
  padding: 0 24px;
  font-family: Merriweather;
  font-size: 1.06rem;
  color: #fff;
  background-color: #33c18c;
  appearance: none;
  align-items: center;
  border: 0;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  display: inline-flex;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  position: relative;
  right: 6px;
}

/* Video categories */
.video-categories-section {
  background-color: #134f50;
  padding: 64px 0;
}

.video-categories-section h4 {
  color: #fff;
  margin-bottom: 60px;
  margin-top: 0;
}

.video-categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
}

@media all and (max-width: 992px) {
  .video-categories {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (max-width: 600px) {
  .video-categories {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 400px) {
  .video-categories {
    grid-template-columns: repeat(1, 1fr);
  }
}

.video-categories svg {
  width: 60px;
  fill: #134f50;
}

.video-categories .category {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.video-categories .category:hover svg {
  fill: #33c18c;
} 

.video-categories .category:hover p {
  text-decoration: underline;
}

.video-categories .category:hover .dm2-icon {
  text-decoration: none;
  color: #33c18c;
  
}

.icon {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.dm2-icon {
  font-size: 43px;
  color: #134f50;
  display: flex;
  align-items: center;
}

/* Text - image */

.text-image {
  padding-top: 65px;
  padding-bottom: 65px;
}

.text-image h4 {
  margin-top: 0;
  color: #134f50;
}

.text-image-body {
  display: flex;
  gap: 30px;
}

@media all and (max-width: 992px) {
  .text-image-body {
    flex-direction: column;
  }
}

@media all and (max-width: 992px) {
  .text-image-media iframe {
    width: 100%;
  }
}


/* Footer */

.footer {
  background-color: #134f50;
  color: #fff;
}

.top-footer {
  background-color: #032145;
  padding: 10px 0;
}

.top-footer ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

@media all and (max-width: 992px) {
  .top-footer ul {
    flex-wrap: wrap;
  }
}

.top-footer li a {
  color: #fff;
}

.middle-footer {
  padding: 40px 0;
}

.middle-footer .container {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

@media all and (max-width: 768px) {
  .middle-footer .container {
    flex-direction: column;
  }
}

.middle-footer-left img {
  width: 100%;
  max-width: 300px;
}

.middle-footer-right {
  display: flex;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
}

.middle-footer-right img {
  width: 100%;
  max-width: 160px;
  height: 160px;
}

.middle-footer-right img.badge {
  height: 122px;
}

.bottom-footer {
  background-color: #0f3a3b;
}

.bottom-footer ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

@media all and (max-width: 768px) {
  .bottom-footer ul {
    flex-wrap: wrap;
  }
}

.bottom-footer ul a {
  color: #fff;
  font-family: Merriweather-sans;
}

.bottom-footer .container {
  display: flex;
  justify-content: space-between;
}

@media all and (max-width: 768px) {
  .bottom-footer .container {
    flex-direction: column;
  }
}

/* internal page */
.internal-hero {
  background-image: url("images/JOA-Group_0.jpg");
  background-size: cover;
  height: 500px;
  position: relative;
}

@media all and (max-width: 992px) {
  .internal-hero {
    background-position: center;
  }
}

.internal-hero-callout {
  padding: 40px;
  background-color: #032145;
  position: absolute;
  bottom: 15px;
  margin-right: 15px;
}

.internal-hero-callout h1 {
  margin: 0;
  color: #fff;
}

.main-body-component {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  gap: 60px;
}

@media all and (max-width: 767px) {
  .main-body-component {
    flex-direction: column;
  }
}

.main-content {
  width: 80%;
}

@media all and (max-width: 767px) {
  .main-content {
    width: 100%;
  } 
}

/* Accordion */

.accordion__heading {
  margin: 15px 0;
}

.accordion {
  list-style-type: none;
  width: 100%;
  font-family: Merriweather-sans;
}

.accordion__button[aria-expanded=false] {
  background-image: url("images/add.svg"), linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
  background-size: 1.5rem;
}

.accordion__button {
  color: #032145;
  border: 0;
  border-radius: 4px;
  text-align: left;
  background-color: #f0f0f0;
  background-image: url("images/remove.svg"), linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
  background-position: right 1.25rem center;
  background-size: 1.5rem;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  padding: 1rem 3.5rem 1rem 1.25rem;
  width: 100%;
}

.accordion__button:focus {
  outline: 0.25rem solid #2491ff;
  outline-offset: 0rem;
}

.accordion__content {
  overflow: auto;
  padding: 1rem 1.25rem calc(1rem - 0.25rem) 1.25rem;
}

/* Sidebar */
.sidebar {
  width: 20%;
}

@media all and (max-width: 767px) {
  .sidebar {
    width: 100%;
  }
}

.sidebar h2 {
  color: #032145;
}

.sidebar-card {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #032145;
}

.sidebar-img {
  margin-top: 20px;
}

.sidebar-img img {
  width: 128px;
  height: 60px;
  object-fit: cover;
}

.sidebar-body .large {
  color: #33c18c;
}

/* Fonts */

@font-face {
  font-family: Merriweather;
  src: url(fonts/Merriweather-Regular.ttf);
}

@font-face {
  font-family: Merriweather-sans;
  src: url(fonts/MerriweatherSans-VariableFont_wght.ttf);
}


